#title {
  font-size: 4rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-holder {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form {
    width: 35rem;
  margin: 0 auto;
  
}
#form input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #000000;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form button:hover {
  background-color: #ffffff;
  color: #000000;
}
#form p {
  text-align: center;
  margin-top: 20px;
}
