input:not([type='checkbox'], [type='radio']),
select,
textarea {
  width: 50%;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#result {
  display: flex;
  justify-content: center;
  align-items: center;
}
